*{
    padding: 0;
    margin: 0;
}

#titel{
    position: relative;
    left: 39%;
    text-align: block;
        
}

#count{
    text-align: center;
    position: relative;
    font-size: 30px;
    top: auto;
}

.game{
    width: 700px;
    height: 300px;
    border: 3px solid black;
   margin-left: 25%;
    margin-top: 50px;
}

#character{
    width: 40px;
    height: 100px;
    background-color: red;
    position: relative;
    top:200px;
    left:50px;
    
}

#block{
    width: 25px;
    height: 50px;
    background-color: blue;
    position: relative;
    top: 150px;
    left: 675px;
    
}

.animation{
    animation: jump 400ms;
}

.start{
    animation: block 1s infinite linear;
   
}


@keyframes block {
    0% {left: 480;}
    100%{left:-10px;}
}

@keyframes jump {
    0%{top: 200px;}
    30%{top: 100px;}
    70%{top:100px;}
    100%{top:202px;}
}